<!DOCTYPE html>
<!--  ng-app is like a main function starting point -->
<html lang="en" ng-app="">
 <head>
  <meta charset="UTF-8">
  <title>My First Angular JS App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 </head>
<body>
<div>

 Party Id <input type="text" ng-model="id"><br>
 Party Name<input type="text"ng-model="name"><br>
 Party City<input type="text" ng-model="city"><br>
 Party Address<textarea ng-model="address"></textarea><br>

<!--  bind these divs to textboxs -->
<div ng-bind="id"> </div>
<div ng-bind="name"></div>
<div ng-bind="city"></div>
<div ng-bind="address"></div>
<div> 
</div>
</body>
</html>
