<!DOCTYPE html>
<div lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Item Record</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<div>
<div>
   Item Id   <input type="text" ng-model="itemId">
    Item Name<input type="text" ng-model="itemName">
    Item Type<input type="text" ng-model="itemRate">
    Item Rate<input type="text" ng-model="itemPrice">

</div>
<div ng-bind="itemId"></div>
<div ng-bind="itemName"></div>
<div ng-bind="itemRate"/></div>
<div ng-bind="itemPrice"/></div>

</body>
</html>