<!DOCTYPE html>
<html lang="en" ng-app="partyCoding">
<head>
    <meta charset="UTF-8">
    <title>Party Coding Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

</head>
<body>

Party Id :<input type="text" ng-model="id"><br>
Party Name :<input type="text" ng-model="name"><br>
Credit :<input type="text" ng-model="credit"><br>
Debit :<input type="text" ng-model="debit"><br>
Balance :<input type="text" ng-model="balance"><br>
City :<input type="text" ng-model="city"><br>

<div ng-bind="id"></div>

</body>
</html>